/*Main body css*/

html * {
    font-family: arial !important;
}

.container {
    height: auto;
    width: 100%;
    border-radius: 42.5px;
    margin-top: 66px;
    box-shadow: 0 2px 30px 0
        rgba(0, 0, 0, 0.13);
    overflow: hidden;
    margin-bottom: 20px;
}

/*Profile section css*/

#profile-section {
    background: #ffd500;
    height: 100%;
    text-align: center;
}

#profile-picture {
    width: 238px;
    height: 238px;
    margin: 163px auto auto auto;
    display: block;
    object-fit: contain;
}

h3 {
  font-size: 24px !important;
  font-weight: bold !important;
  line-height: normal;
  letter-spacing: normal;
  color: #383838;
  margin-top: 100px !important;
}

p {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  color: #383838;
}

#toggle-button {
    width: 64px;
    height: 64px;
    margin-bottom: 110px;
}

#toggle-button:hover {
    cursor: pointer;
}

.toggle-button-spin {
    transform: rotate(180deg);
}

.toggle-button-spin2 {
    transform: rotate(-180deg);
}

/*From section css*/

#form-section {
    background: #ffffff;
    position: relative;
}

.form-group.row {
    margin-bottom: 21.9px;
}

.form-control:focus {
    border-color: #ff9200 !important;
    box-shadow: 0 0 5px #ff9200 !important;
  }

input::placeholder {
    color: #b1bfcd !important;
}

input:hover {
    cursor: pointer;
}

#user-details {
    margin: 63px 38.9px 0 32px;
}

.icon-background {
    background: #f5f8f9;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.icon-background:hover {
    border: 1.2px solid #b3c1ce;
    margin-top: -1.2px;
    cursor: pointer;
}

.icon-background.female {
    margin-left: 80px;
}

.icon-background.classicMember {
    background: #b1bfcd;
}

.icon-background.silverMember,.goldMember {
    margin-left: 65px;
}

.gender-icon {
    width: 24px;
    height: 24px;
    margin-top: 8px;
}

.gender-icon.female {
    width: 21.1px;
    height: 29.7px;
    margin-top: 5.15px;
}

span {
    color: #b1bfcd;
}

#date-input {
    position:absolute;
    width: 15px;
    height: 17px;
    bottom: 9.5px;
    right: 25px;
}

.membership-icon.classic,.silver {
    width: 23.3px;
    height: 15.9px;
    margin-top: 12.05px;
}

.buttons {
    float: right;
    margin-top: 50px;
}

.btn.cancel {
    width: 158.7px;
    height: 53px;
    margin-right: 21.3px;
}

.btn.cancel:hover {
    background: #49c8a8;
}

.btn.save {
    width: 158.7px;
    height: 53px;
}

.btn.save:hover {
    background: #49c8a8;
}

.profile-description {
    background: #ff9200;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 40px;
    transition: delay 1s ease-in-out;
}

/*Media queries*/
@media(max-width: 1200px){
    #profile-picture {
        width: 200px;
        height: 200px;
    }

    .icon-background.silverMember,.goldMember {
        margin-left: 35px;
    }
}

@media(max-width: 992px){
    .icon-background.female {
        margin-left: 50px;
    }

    #date-input {
        bottom: 35px;
        right: 25px;
    }

    .icon-background.goldMember {
        margin-left: 0px;
        margin-top: 5px;
    }
}

@media(max-width: 767px) {
    #toggle-button {
    transform: rotate(-90deg);
    } 

    .container {
        height: 100%;
        border-radius: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #profile-section {
        height: 100vh;
    }

    #profile-picture {
        margin-top: 40px;
    }

    #form-section {
        height: 100%;
        padding-bottom: 10px;
    }

    .icon-background.silverMember {
        margin-left: 65px;
    }

    #date-input {
        bottom: 35px;
    }

    .buttons {
        float: none;
        margin-top: 50px;
    }

    .btn.cancel {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    .btn.save {
        width: 100%;
    }

} 

@media(max-width: 575px) {
    #date-input {
        bottom: 10px;
    }

    .icon-background.silverMember {
        margin-left: 0px;
    }
}

@media(max-width: 380px) {
    .icon-background.silverMember {
        margin-left: 20px;
    }

    .icon-background.female {
        margin-left: 10px;
    }
}