html * {
    font-family: arial !important;
}

.container {
    height: auto;
    width: 100%;
    border-radius: 42.5px;
    margin-top: 66px;
    box-shadow: 0 2px 30px 0
        rgba(0, 0, 0, 0.13);
    overflow: hidden;
}

#profile-section {
    background: #ffd500;
    height: 100%;
    text-align: center;
}

#profile-picture {
    width: 238px;
    height: 238px;
    margin: 163px auto auto auto;
    display: block;
    object-fit: contain;
}

h3 {
  font-size: 24px !important;
  font-weight: bold !important;
  line-height: normal;
  letter-spacing: normal;
  color: #383838;
  margin-top: 100px !important;
}

p {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  color: #383838;
}

#toggle-button {
    width: 64px;
    height: 64px;
    margin-bottom: 110px;
}

#toggle-button:hover {
    cursor: pointer;
}

#toggle-button:active {
    transform: scaleX(-1);
}

#form-section {
    background: #ffffff;
}

.form-control:focus {
    border-color: #ff9200 !important;
    box-shadow: 0 0 5px #ff9200 !important;
  }

input::placeholder {
    color: #b1bfcd !important;
}

#user-details {
    margin: 111px 38.9px 0 32px;
}

.icon-background {
    background: #f5f8f9;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.icon-background:hover {
    border: 1.2px solid #b3c1ce;
}

.icon-background.female {
    margin-left: 80px;
}

.icon-background.classicMember {
    background: #b1bfcd;
}

.icon-background.silverMember,.goldMember {
    margin-left: 65px;
}

.gender-icon {
    width: 24px;
    height: 24px;
    margin-top: 8px;
}

.gender-icon.female {
    width: 21.1px;
    height: 29.7px;
    margin-top: 5.15px;
}

span {
    color: #b1bfcd;
}

#date-input {
    position:absolute;
    width: 15px;
    height: 17px;
    bottom: 9.5px;
    right: 25px;
}

.membership-icon.classic,.silver {
    width: 23.3px;
    height: 15.9px;
    margin-top: 12.05px;
}

.buttons {
    text-align: center;
    margin-top: 50px;
}